[Unit]
Description=Galaxy IE/IT Proxy
Documentation=https://docs.galaxyproject.org/
After=network.target

[Service]
Type=simple

User={{ gie_proxy_user }}
Group={{ gie_proxy_group }}

ExecStart={{ gie_proxy_command_line }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT

Restart=on-failure
RestartSec=1s
 
[Install]
WantedBy=multi-user.target
